<div class="card mb-3">
  <div class="card-body">
    <p class="card-text"><%= review.content %></p>
    <p class="card-text"><small class="text-muted">Posted <%= time_ago_in_words(review.created_at) %> ago</small></p>
  </div>
</div>
